.login{
	position: relative;
	padding: 0px;
	margin:0px ;
	left: 120px;
	top:50px ;
}
.bottom{
	position: relative;
	background-color: #035698;
	font-size: 20px;
	height: 100px;
}
.adress{
	position: relative;
	color: white;
	text-align: center;
}
.main{
	position: relative;
	height: 500px;
}
.top{
	position: relative;
	height: 300px;
}
.logo{
	position: relative;
	top:0px;
	width: 150px;
	left: 0px;
}
.nav_{
	position: relative;
	background-color: dimgrey;
}
.tag{
	position: relative;
	left: 500px;
}
#ok{
	position: relative;
	background-color: red;
	text-align: center;
	color: black;
	font-size: 20px;
	top: 200px;
	left: 535px;
	width: 100px;
	height: 30px;
	border-radius: 10px;
}
.pic_bottom{
	position: relative;
	left: 80px;
	width: 45px;
}
#select1{
	position: relative;
	left: 500px;
	width: 80px;
	top: 100px;
}
#select2{
	position: relative;
	left: 500px;
	width: 80px;
	top: 100px;
}
.login_{
	position: relative;
	left: 500px;
	width: 300px;
	height: 100px;
}
.zhuce{
	position: relative;
	left: 70px ;
	top: 100px; 
	background-color: #FF0000; 
	font-size: 20px; 
	border-radius: 10px;
	width: 100px;
	text-align: center;
}