<!-- 页面结束修改全部引入路径   字体图标声明路径   -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>KOKO Movie</title>
	<meta name="description" content="professional video web" />      	
	<meta name="keywords"  content="video,movie,online"/>       
	<link rel="stylesheet" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/index.css">
	<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />  
	<script src="/static/lib/jQuery/jquery-1.12.4.min.js"></script>
	<script src="/static/lib/art-template/template-web.js"></script>
</head>
<body>


<!-- 导航栏 ---------------------------------------------------------------------->
<div class="w nav">
	<ul class="nav-left">
		<li class="nav-logo"><a href="http://www.koko.com"><img src="/static/images/logo.png" alt=""></a></li>
		<li>首页</li>
		<li>电影</li>
		<li>美剧</li>
		<li>韩剧</li>
		<li>日剧</li>
		<li>综艺</li>
		<li>动漫</li>
		<li>专题</li>
	</ul>
	<ul class="nav-right iconfont">
		<li id="timenow"></li>
		<li id="login">&#xe67c;
		<div class="login-box">
			<div class="login-error">用户名或密码输入错误！</div>
				<form action="user.html" method="post">
				<table cellspacing="0" cellpadding="0">
					<tr id='tr'>
						<td>用户名&nbsp;&nbsp;</td>
						<td><input class="login-put" type="text" name="name"></td>
					</tr>
					<tr>
						<td>密码</td>
						<td><input class="login-put" type="password" name="password"></td>
					</tr>
					<tr><td colspan="2"><button type="submit" class="submit" id="submit">登录</button></td></tr>
				</table>
				</form>
		</div>
		</li>
		<li>&#xe6ad;</li>
		<li>&#xe608;</li>
		<li>&#xe7f9;</li>
		<li>&#xe603;</li>
	</ul>
</div>

<!-- 版心------------------------------------------------------------------------------ -->
<div class="main w clearfix" id="main">
	<ul>
		<li class="main-best"><img src="/static/images/best.png" alt=""></li>
	</ul>
</div>

<!-- 分类------------------------------------------------------------------------------ -->
<div class="main w clearfix" id="category"></div>

<!-- 页脚------------------------------------------------------------------------------ -->
<div class="w footer">footer www.koko.com</div>



<!-- 版心区模板-->
<script id="tempmain" type="text/x-art-template">
	{{each list value index}}

		{{if index==4}}
			<li class="cml">
			<img src="http://www.koko.com{{value.imgpath}}" alt="">
			<div class="min-li-bottom">{{value.name}}</div>
			</li>
		{{else}}
			<li>
				<img src="http://www.koko.com{{value.imgpath}}" alt="">
				<div class="min-li-bottom">{{value.name}}</div>
			</li>
		{{/if}}

	{{/each}}
</script>
<!-- 分类区模板-->
<script id="tempc" type="text/x-art-template">
	{{each templist tempv tempi}}
		<div class="main w clearfix" id="category">
			<div class="bar">
				<span class="iconfont bar-icon">&#xe7f9;</span> {{tempi}} <span class="fr">更多  ></span>
			</div>
			<ul>
					{{each tempv value index}}
						{{if index==6||index==0}}
							<li class="cml">
								<img src="http://www.koko.com{{value.imgpath}}" alt="">
								<div class="min-li-bottom">{{value.name}}</div>
							</li>
						{{else}}
							<li>
								<img src="http://www.koko.com{{value.imgpath}}" alt="">
								<div class="min-li-bottom">{{value.name}}</div>
							</li>
						{{/if}}

					{{/each}}
			</ul>
		</div>
	{{/each}}
</script>



<!-- jQuery函数入口区-------------------------------------------------------------------------------->
<script>
	$(function($){
//导航栏时间显示
		var time="";
		if((new Date().getHours()/10<1)&&(new Date().getMinutes()/10>=1)){
			time="0"+new Date().getHours()+":"+new Date().getMinutes();
		}else if((new Date().getHours()/10>=1)&&(new Date().getMinutes()/10<1)) {
			time=new Date().getHours()+":0"+new Date().getMinutes();
		}else if((new Date().getHours()/10<1)&&(new Date().getMinutes()/10<1)) {
			time="0"+new Date().getHours()+":0"+new Date().getMinutes();
		}else {
			time=new Date().getHours()+":"+new Date().getMinutes();
		}
		$('#timenow').text(time)
console.log(new Date().getMinutes()/10<1)
//导航栏字体变色
		$('.nav ul li').on('mouseenter',function(){
			$(this).css('color','#479AD1')			
		})
		$('.nav ul li').on('mouseleave',function(){
			$(this).css('color','')	
		})

//导航栏登录按钮事件
		$('#login').on('click',function(){
			$('.login-box').show()
		})
		$('#login').on('mouseleave',function(){
			$('.login-box').hide()	
		})
// 登录请求
		$('#submit').on('click',function(){
			$.post('http://www.koko.com/dada',{"m":"getusers"},function(res){
				console.log(res);
			})
		})

// 版心分类区内部 li的mask效果
		var mli=$("#main")
		var cli=$("#category")
		mli.on("mouseenter","li",function(){
			$('<div class="mask"></div>').prependTo($(this))
			$('.main .main-best').find('.mask').remove();
		})
		mli.on("mouseleave","li",function(){
			$(this).find('.mask').remove();
		})
		cli.on("mouseenter","li",function(){
			$('<div class="mask"></div>').prependTo($(this))
			$('.main .main-best').find('.mask').remove();
		})
		cli.on("mouseleave","li",function(){
			$(this).find('.mask').remove();
		})

//获取数据源
		$.get('http://www.koko.com/dada',{"m":"getall"},function(res){
			product=JSON.parse(res);
			var obj10=product.slice(0,10)
			console.log(obj10)              // 输出产品数据
			var dataj={}  
			dataj.list=obj10;
			var html=template('tempmain',dataj) 
			$('#main > ul').append(html)			
//获取分类表
			$.get('http://www.koko.com/dada',{"m":"getcategory"},function(res){
				var category=JSON.parse(res);
				var datac={}
				datac.category=category;
				datac.list=product;
				datac.templist={};
				for (var i = datac.category.length - 1; i >= 0; i--) {
					datac.templist[datac.category[i].cname]=[];
				}
				for (var i = datac.list.length - 1; i >= 0; i--) {
					if(datac.templist[datac.list[i].category].length<12){
						datac.templist[datac.list[i].category].push(datac.list[i])
					}
				}
				var htmlc=template('tempc',datac) 
				$('#category').append(htmlc)
				console.log(datac)         //输出整合数据
			})
		})




})
</script>



</body>
</html>