@charset "UTF-8";  
.w {
	width: 1150px;
	margin: 0 auto;
}
* {
	margin: 0;
	padding: 0;
}
.clearfix:after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	line-height: 0;
	clear: both;
}
.clearfix {
	*zoom: 1;
}
li {
	list-style: none;
}
body {
	font-family: "microsoft yahei";
	color: #666;
}
img {
	vertical-align: top;
}
@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}