/*-- 导航栏 ----------------------------------------------------------------------*/
.nav {
	height: 110px;
	font-size: 18px;
}
.nav-left .nav-logo {
	padding-left: 0px;
}
.nav-logo a {
	display: block;
	height: 110px;
}
.nav-logo a img {
	height: 97%;
}
.nav-left li {
	height: 110px;
	line-height: 110px;
	padding-left: 32px;
	float: left;
	cursor: pointer;
}
.nav-right li {
	height: 110px;
	line-height: 110px;
	font-size: 24px;
	font-weight: 200;
	float: right;
	padding-right: 30px;
	cursor: pointer;
}
#timenow {
	font-family: "microsoft yahei";
	font-weight: 500;
	padding-right: 0px;
}

.mask {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 86%;
    background: rgba(0,0,0,0.1)
}
#login {
	position: relative;
}
.login-box {
	display: none;
	width: 200px;
	height: 180px;
	position: absolute;
	z-index: 4;
	top: 80px;
	right: -59px;
	border-radius: 5px;
	background-color: #eee;
	font-size: 14px;
}
.login-box {
	font-family: 'microsoft yahei';
	line-height: 45px;
	color: #333!important;
}
.login-box table {
	margin: 20px 0px 0px 20px;
}
.login-put {
	margin: 0;
	padding: 0;
	width: 100px;
}
.login-error {
	display: none;
	height: 30px;
	width: 180px;
	margin: 0px auto;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	background-color: #F2D0D0;
}
.submit {
	width: 160px;
	margin: 0;
	padding: 0;
	border: 1px solid #cccc;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background-color: #3DA4CB;
	border-radius: 5px;
}
.submit:hover {
	background-color: #1C6EAA;
}
/*<!-- 版心------------------------------------------------------------------------------ -->*/
.main .main-best {
	width: 370px;
	height: 304px;
	margin-left: 0px;
	margin: 0px 0px 22px 0px;
	overflow: hidden;
}

.main .main-best img {
	width: 100%;
	height: auto;
}

.main li {
	width: 176px;
	height: 304px;
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0px 0px 22px 18px;
}
.main li img {
	height: 86%;
}
.min-li-bottom {
	height: 14%;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	background-color: #F5F5F5;
	color: #333;
}
.main .cml {
	margin-left: 0px;
}

/*<!-- 分类bar------------------------------------------------------------------------------ -->*/

.bar {
	height: 60px;
	line-height: 55px;
	color: #222;
	font-size: 18px;
}
.bar-icon {
	font-size: 19px;
}
.bar .fr {
	float: right;
	font-size: 14px;
	color: #666;
}

#category li:hover, #main li:hover {
	box-shadow: 0 12px 10px  rgba(0, 0, 0, .2);
}
#main .main-best:hover {
	opacity: 1;
}
/*<!-- 页脚------------------------------------------------------------------------------ -->*/
.footer {
	height: 50px;
	text-align: center;
	font-size: 14px;
}